<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="panel panel-success panel-collapse" th:fragment="task-table">
    <form th:action="@{/kill}"
          th:object="${taskFormData}" method="post">
        <div class="panel-heading">
            <p class="panel-title pull-left" th:text="${type + ' Tasks'}"/>
            <button type="submit" name="kill" th:value="all"
                    class="btn btn-danger btn-xs pull-right"
                    th:classappend="${tasks.empty} ? 'hidden' : ''"
                    data-toggle="confirmation" th:text="${'Kill All'}">

            </button>
            <button type="submit" name="kill" th:value="selected"
                    class="btn btn-danger btn-xs pull-right"
                    th:classappend="${tasks.empty} ? 'hidden' : ''"
                    data-toggle="confirmation" th:text="${'Kill Selected'}">
            </button>
            <div class="clearfix"></div>
        </div>
        <table th:id="${tableId}" class="taskTable display table table-sm table-dark table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th th:hidden="${type != 'Running' and type != 'Pending'}">Created Time</th>
                <th th:hidden="${type != 'Running' and type != 'Pending'}">Queued Time</th>
                <th>Status Code</th>
                <th>Duration</th>
                <th>Host</th>
                <th class="no-sort">Port</th>
                <th class="no-sort"></th>
                <th class="no-sort"></th>
                <th class="no-sort"></th>
                <th class="no-sort"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="task, stat : *{taskStatusModels}">
                <tr>
                    <td>
                        <input type="hidden" th:name="|taskStatusModels[${stat.index}]|"
                               th:field="*{taskStatusModels[__${stat.index}__].id}" th:value="${task.id}"/>
                        <input type="checkbox"
                               th:name="|taskStatusModels[${stat.index}]|"
                               th:field="*{taskStatusModels[__${stat.index}__].isSelected}"
                               th:checked="${task.isSelected}"/>
                    </td>
                    <td th:text="${task.taskStatus.id}">Task Id</td>
                    <td th:hidden="${type != 'Running' and type != 'Pending'}" th:text="${task.taskStatus.createdTime}">
                        Created Time
                    </td>
                    <td th:hidden="${type != 'Running' and type != 'Pending'}"
                        th:text="${task.taskStatus.queueInsertionTime}">Task Id
                    </td>
                    <td th:text="${task.taskStatus.statusCode}">Status Code</td>
                    <td th:text="${task.taskStatus.duration}">Duration</td>
                    <td th:text="${task.taskStatus.location.host}">Host</td>
                    <td th:text="${task.taskStatus.location.port}">Port</td>
                    <td><a th:target="_blank" th:href="${ session.env.overlordUrl + '/druid/indexer/v1/task/' + task.urlEncodedId}">
                        payload
                    </a></td>
                    <td><a th:target="_blank" th:href="${ session.env.overlordUrl + '/druid/indexer/v1/task/' + task.urlEncodedId + '/status'}">
                        status
                    </a>
                    </td>
                    <td><a th:target="_blank" th:href="${ session.env.overlordUrl + '/druid/indexer/v1/task/' + task.urlEncodedId + '/log'}">
                        log
                    </a>
                    </td>
                    <td><a th:target="_blank" th:href="${ session.env.overlordUrl + '/druid/indexer/v1/task/' + task.urlEncodedId + '/log?offset=-8192'}">
                        log(last 8kb)
                    </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </form>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $([[${'#' + tableId}]]).DataTable({
                order: [],
                aLengthMenu: [
                    [25, 50, 100, 500, -1],
                    [25, 50, 100, 500, "All"]
                ],
                iDisplayLength: 25,
                columnDefs: [{
                    targets: 'no-sort',
                    orderable: false,
                }]
            });
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
                // other options
            });
        });
        /*]]>*/
    </script>
</div>
<div class="panel panel-primary" th:fragment="completed-task-table(tasks)">
    <div class="panel-heading">
        <p class="panel-title" th:text="${'Completed'}"/>
    </div>
    <table th:id="${tableId}" class="taskTable display table table-sm table-dark table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Status Code</th>
            <th>Duration</th>
            <th>Host</th>
            <th class="no-sort">Port</th>
            <th class="no-sort"></th>
            <th class="no-sort"></th>
            <th class="no-sort"></th>
            <th class="no-sort"></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="task : ${tasks}">
            <tr>
                <td th:text="${task.taskStatus.id}">Task Id</td>
                <td><span class="label"
                          th:classappend="${task.taskStatus.statusCode == task.taskStatus.statusCode.FAILED ? 'label-danger' : 'label-success'}"
                          th:text="${task.taskStatus.statusCode}"></span></td>
                <td th:text="${task.taskStatus.duration}">Duration</td>
                <td th:text="${task.taskStatus.location.host}">Host</td>
                <td th:text="${task.taskStatus.location.port}">Port</td>
                <td><a th:target="_blank" th:href="${ session.env.overlordUrl + '/druid/indexer/v1/task/' + task.urlEncodedId}">
                    payload
                </a></td>
                <td><a th:target="_blank" th:href="${ session.env.overlordUrl + '/druid/indexer/v1/task/' + task.urlEncodedId + '/status'}">
                    status
                </a>
                </td>
                <td><a th:target="_blank" th:href="${ session.env.overlordUrl + '/druid/indexer/v1/task/' + task.urlEncodedId + '/log'}">
                    log
                </a>
                </td>
                <td><a th:target="_blank" th:href="${ session.env.overlordUrl + '/druid/indexer/v1/task/' + task.urlEncodedId + '/log?offset=-8192'}">
                    log(last 8kb)
                </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function () {
            $([[${'#' + tableId}]]).DataTable({
                order: [],
                aLengthMenu: [
                    [25, 50, 100, 500, -1],
                    [25, 50, 100, 500, "All"]
                ],
                iDisplayLength: 25,
                columnDefs: [{
                    targets: 'no-sort',
                    orderable: false,
                }]
            });
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
                // other options
            });
        });
        /*]]>*/
    </script>
</div>
</body>
</html>