<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Druidess - Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/datatables/1.10.12/css/dataTables.bootstrap.css"/>
</head>
<body>

<header>
</header>
<div class="container container-small">
    <div th:replace="fragments/header :: header"></div>
    <div class="row">
        <div id="running-table" class="col">
            <!--<div th:replace="fragments/task-table :: task-table(${runningTasks}, Running)"></div>-->
        </div>
    </div>
    <div class="row">
        <div id="pending-table" class="col">
            <!--<div th:replace="fragments/task-table :: task-table(${pendingTasks}, Pending)"></div>-->
        </div>
    </div>
    <div class="row">
        <div id="waiting-table" class="col">
            <!--<div th:replace="fragments/task-table :: task-table(${waitingTasks}, Waiting)"></div>-->
        </div>
    </div>
    <div class="row">
        <div id="completed-table" class="col">
            <!--<div th:replace="fragments/task-table :: completed-task-table(${completedTasks})"></div>-->
        </div>
    </div>
</div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/webjars/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/webjars/datatables/1.10.12/js/dataTables.bootstrap.js"></script>
<script src="/webjars/bootstrap-confirmation2/2.4.0/bootstrap-confirmation.js"></script>
<script>
    $(document).ready(function () {
        $("#running-table").load("/tasks/runningTasks");
        $("#pending-table").load("/tasks/pendingTasks");
        $("#waiting-table").load("/tasks/waitingTasks");
        $("#completed-table").load("/tasks/completeTasks");
    });

</script>
</body>
</html>